.contact-list-full-wrapper{
    width: 40%;
    margin: 20px auto;
}

.add-contact-wrapper{
    margin-top: 30px;
}

.search-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-contact-input{
    width: 50%;
    padding: 10px;
}

.input-label{
    margin-right: 5px;
}

.contact-input-wrapper{
    margin-bottom: 10px;
}

.contact-input-field{
    padding: 5px;
}

#add-contact-btn{
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background-color: black;
}

#add-contact-btn:hover{
    cursor: pointer;
}

.contact-card{
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.all-contacts{
    margin-top: 30px;
}

.contact-mod-btns{
    margin-left: auto;
}

.edit-btn{
    margin-right: 5px;
    background-color: lightblue;
    padding: 10px;
    border: none;
}

.edit-btn:hover{
    cursor: pointer;
    background-color: hsla(196, 53%, 79%, 0.584);
}

.delete-btn{
    background-color: red;
    padding: 10px;
    border: none;
}

.delete-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.392);
}

.searched-contact-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.searched-contact-list[hidden]{
    display: none;
}

.searched-contact-item{
    padding: 10px;
}

.searched-contact-item:hover{
    background-color: rgba(212, 210, 210, 0.24);
    cursor: pointer;
}